<ion-grid>
  <ion-row>
    <ion-col size-xs="6" size-md="4" class="ion-no-padding" size-lg="3" *ngFor="let item of ebookList">
      <ion-card button (click)="onLoadBook(item.id)" (press)="onPress(item.id)" (pressup)="onPressUp($event)" class="card-wrapper">
        <ion-img class="cover-img" [src]="item.coverUrl ? item.coverUrl : '/assets/icon/book-cover.png'"></ion-img>
        <ion-card-header class="card-header-wrapper">
          <ion-card-title class="card-header-title"> {{ item.title }} </ion-card-title>
          <ion-card-subtitle class="card-header-subtitle">
            <p class="text">{{ item.author }}</p>
            <!-- <ion-button fill="clear" size="small" class="btn-options ion-no-padding">
              <ion-icon name="options-outline" slot="icon-only"></ion-icon>
            </ion-button> -->
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
