
<ion-header>
  <ion-toolbar>
    <ion-title>Import eBook(s)</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onOptionCancel()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onBooksImport()">
        <ion-icon name="duplicate-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <p>Import eBook(s) Works !</p>
</ion-content>